@model NotBlocket2.Models.Ad

@{
    ViewData["Title"] = "CreateAd";
}
<h3>Create Ad</h3>


<form asp-controller="NotBlocket" asp-action="CreateAd" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="File">Choose Image:</label>
        <input type="file" id="model.File" name="File" required />
    </div>
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="model.Name" asp-for=Name required />
    </div>
    <div class="form-group">
        <label for="Description">Description:</label>
        <input type="text" id="model.Description" asp-for=Description />
    </div>
    <div class="form-group">
        <label for="Category">Category:</label>
        <input type="text" id="model.Category" asp-for=Category />
    </div>
    <div class="form-group">
        <label for="Price">Price:</label>
        <input type="number" id="model.Price" asp-for=Price required />
    </div>
    <div class="form-group">
        <button type="submit">Upload Ad with Image</button>
    </div>
</form>
